<div class="logon-screen">

    <div class="rede_som_desliga">
        <i class="pi pi-wifi" style="color: rgb(247, 247, 247)"></i>
        <i class="pi pi-volume-down" style="color: rgb(247, 247, 247)"></i>        
        <i class="pi pi-power-off" style="color: rgb(247, 247, 247)"></i>
        
    </div>
    <div class="login">
        <i class="pi pi-user" style="font-size: 5.5rem; color: rgb(247, 247, 247); background-color: rgb(43, 43, 43); border-radius: 50%; padding: 3rem;"></i>
        <label for="" style="color: rgb(247, 247, 247); font-size: 2rem;">Dev</label>
        
        <div class="card flex justify-content-center">
            <p-password [(ngModel)]="valuePass" [feedback]="false" styleClass="custom-input-passw" class="background-color: var(--surface-500);"></p-password>
        </div>
    </div>
    <div class="logo">
        <img src="../../../assets/img/ubuntuLogo.png" alt="logo">
    </div>
</div>